<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="/bootstrap-4.3.1-dist/css/bootstrap.min.css">
    <script src="/javascripts/jquery.js"></script>
    <script src="/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/socket.io/socket.io.js"></script>
    <script>
      $(function(){
        var socket = io();
        socket.emit('signal', "signal");
        socket.on("incomming", data=>{
          // console.log(data)
          // $("#res").html(`Temperature: ${data.split(",")[0]}, Humidity: ${data.split(",")[1]}`);
          if(data && data.split(",").length>0){
            let humidity = parseInt(data.split(",")[1].replace(".",""))
           
            $("#temp").css("width", `${data.split(",")[0]}%`).html(`${data.split(",")[0]} &#x2103;`);
          $("#hum").css("width", `${humidity}%`).html(`${data.split(",")[1]} %`);
          }

        })
      });
    </script>
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Radio</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form> 
        </div> -->
      </nav>
    </div>
    <div class="container content">
      <div class="row">
        <div class="col-md-8">
          <h3 class="h1 text-light">Received From Arduino:</h3>
          <hr>
          <div id="res" class="bg-success h2"></div>
            <div class="row">
              <div class="col-md-8">
                <div class="form-group row">
                  <div class="col-sm-12">
                    Temperature
                  </div>
                  <div class="col-md-12">
                    <div class="progress">
                      <div id="temp" class="progress-bar bg-danger" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 0%">0</div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-12">
                    Humidity
                  </div>
                  <div class="col-md-12">
                    <div class="progress">
                      <div id="hum" class="progress-bar " role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 0%">0</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          
        </div>
      </div>
    </div>
  </body>
</html>
